<% if @old_folder.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(@old_folder.errors.count, "error") %> prohibited
		this article from being saved:
	</h2>
	<ul>
		<% @old_folder.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>