<div class="clearfix spacer">
  <div class="full-width">
    <h2 class="pull-left">Verknüpfte Exemplare</h2>
    <a href="#new-instance" class="pull-right btn btn-default">Neues Exemplar</a>
  </div>

  <%= render 'old_folder_instances/instances_table', instances: @old_folder.old_folder_instances %>
</div>
