<%= page_heading "Aktuell verliehen" %>

<% if @archived_lend_outs.empty? %>
    <p>Aktuell sind keine Ordner verliehen.</p>
<% end %>

<%= render partial: "ausleihe/old_lend_out", collection: @archived_lend_outs %>