<%= page_heading 'Aktuell verliehen' %>


<% if @old_lend_outs.nil? || @old_lend_outs.empty? %>
    <p>Aktuell sind keine Ordner verliehen.</p>
<% end %>


<%= render partial: 'old_lend_out', collection: @old_lend_outs %>

