<div class="clearfix spacer">
  <table class="table">
    <tr>
      <th>Exemplar-Id</th>
      <th>Gruppen-Name</th>
      <th></th>
    </tr>

    <% instances.each do |i| %>
        <tr>
          <td><%= i.barcodeId %></td>
          <td><%= link_to i.old_folder.title, i.old_folder %></td>
          <td><% if i.old_folder.old_folder_instances.count > 1 %>
                <%= link_to 'Löschen', [i.old_folder, i], method: :delete,
                            data: { confirm: 'Ordner-Exemplar wirklich löschen?' } %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>

</div>