@import "bootstrap-sprockets";
@import "bootstrap";

main {
  padding-top: 50px;
}

footer {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 10px 0;
}

nav {
  margin-bottom: 5px;
}

.half-width {
  width: 50%;
  float: left;
}

.full-width {
  width: 100%;
  float: left;
}

.shadow {
  box-shadow: 0 0 10px black;
}

.card {
  padding: 10px;
}

.alert {
  background-color: red;
  padding: 3px;
}

.notice {
  background-color: green;
  padding: 3px;
}

.center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  display: inline-block;
}

.folder_list_input {
  width: 100%;
  min-width: 8em;

}

.spacer {
  margin-top: 10px;
}

/*
 * Styling description lists to look like tables
 * http://maxdesign.com.au/articles/definition/
 */
dl {
  float: left;
  padding: 0;
  margin: 0;
}

dt {
  clear: left;
  float: left;
  width: 10em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

dd {
  float: left;
  min-width: 5em;
  margin: 0;
  padding: 5px;
}