.alert {
  background-color: #f33;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
}

.warning {
  background-color: #f93;
  padding: 3px;
  cursor: pointer;
}

.notice {
  background-color: #393;
  padding: 3px;
  cursor: pointer;
}