body {
  // font-family: arial, helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px
}

.table {

  border: 1px solid #CCCCCC;
  border-right-color: #000000;
  border-bottom-color: #000000;
}

.list {
  
}

.textBold {
  font-weight: 700;
}

.textRedBold {
  font-weight: bold;
  color: #FF0000;
}

.uline {
  border-bottom: 1px solid #000000;
}

.ulineWhite {
  border-bottom: 1px solid #FFFFFF;
}

.oline {
  border-top: 1px solid #000000;
}

.colorBorder {
  border: 2px solid #000000;
}

.hinweissVergriffen {
  font-weight: bold;
  color: red;
  
}

.bigText {
  
}

.bigTextIU {
  
  font-weight: bold;
  font-style: italic;
}

.littleHinweiss {
  font-style: italic;
  
}

.smalHinweissRed {
  color: red;
  font-style: italic;
  font-weight: bold;
  
}

.hinweissGreen {
  
  color: green;
  font-weight: bold;
}

.hinweissRed {
  
  color: red;
  font-weight: bold;
}

.headline {
  
  font-weight: bold;
  padding-bottom: 10pt
}
