
.a4 {
  height: 297mm;
  width: 210mm;
  padding: 20mm;
  border-color: #000000;
  border-style: solid;
}

.toc-logo {
  width: 32mm;
  height: 32mm;
}

.toc-headline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.toc-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

table.toc-table tr,
table.toc-table th,
table.toc-table td {
  border: 1px solid black;
  padding: 2pt;
  font-size: 10pt;
}

.toc-table-title {
  width: 100%;
}

.toc-table-examiners {
  min-width: 60mm;
}

.toc-table-date {
  min-width: 20mm;
}