<%= page_heading 'Ausleih-Historie' %>

<% if @archived_lend_outs.empty? %>
    <p>Aktuell sind keine Ordner verliehen.</p>
<% end %>

<%= will_paginate @archived_lend_outs %>

<%= render partial: 'ausleihe/old_lend_out', collection: @archived_lend_outs %>