<ul class="nav">
	<li><%= link_to "Ordnergruppen", old_folders_path %></li>
	<li><%= link_to "Ordner",        old_folder_instances_path %></li>
	<li><%= link_to "Prüfungen",     old_exams_path %></li>
</ul>