<footer class="center pure-menu pure-menu-horizontal pull-right">
  <ul class="nav nav-pills pure-menu-list">
    <li class="pure-menu-item"><a href="https://github.com/ironjan/klausurtool-ror/">Quellcode</a></li>
    <li class="pure-menu-item">
      <a href="https://github.com/ironjan/klausurtool-ror/blob/master/CHANGELOG.md">Version: <%= Rails.configuration.version %></a>
    </li>
  </ul>
</footer>
</body>
</html>
