<footer class="center">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Feedback geben", feedback_form_path(:source_page => request.original_url) %></li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li><a href="https://github.com/ironjan/klausurtool-ror/">Quellcode</a></li>
    <li>
      <a href="https://github.com/ironjan/klausurtool-ror/blob/master/CHANGELOG.md">Version: <%= Rails.configuration.version %></a>
    </li>
  </ul>
</footer>
</body>
</html>
