<footer class="center">
  <ul class="nav nav-pills pull-right">
    <li><a href="https://git.cs.upb.de/ljan/klausurtool-ror/">Quellcode</a></li>
    <li><a href="https://git.cs.upb.de/ljan/klausurtool-ror/tags/<%= Rails.configuration.version %>">Version: <%= Rails.configuration.version %></a></li>
  </ul>
</footer>
</body>
</html>
