<!DOCTYPE html>
<html moznomarginboxes="" mozdisallowselectionprint="">
<head>
	<title><%= page_title %></title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<% render 'js_and_midori_warning' %>