<h1>Klausurtool RoR</h1>
<ul class="">
	<li><%= link_to "Verwaltungs-Tool", old_folders_path %></li>
	<li><%= link_to "Ausleih-Tool", ausleihe_path %></li>
</ul>
<h2>Über das Tool</h2>
<ul>
	<li>Rewrite, aufgrund eines <a href="https://git.cs.upb.de/fsmi/klausurtool-og/issues/12">Bugs beim Ausleihen von Ordnern</a></li>
  <li>Möglichst nah an <a href="https://git.cs.upb.de/fsmi/klausurtool-og">"dem alten Tool"</a></li>
	<li>Minimale Änderungen am Model</li>
</ul>